-i https://pypi.org/simple
amqp==2.5.1
asn1crypto==0.24.0
attrs==19.1.0
automat==0.7.0
billiard==3.6.1.0
celery==4.3.0
cffi==1.12.3
constantly==15.1.0
cryptography==2.7
cssselect==1.1.0
django==2.2.4
hyperlink==19.0.0
idna==2.8
importlib-metadata==0.19
incremental==17.5.0
kombu==4.6.4
lxml==4.4.1 ; python_version != '3.4'
more-itertools==7.2.0
parsel==1.5.2
psycopg2==2.8.3
pyasn1-modules==0.2.6
pyasn1==0.4.6
pycparser==2.19
pydispatcher==2.0.5
pyhamcrest==1.9.0
pyopenssl==19.0.0
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.2
queuelib==1.5.0
redis==3.3.8
scrapy==1.7.3
service-identity==18.1.0
six==1.12.0
sqlparse==0.3.0
twisted==19.7.0 ; python_version != '3.4'
vine==1.3.0
w3lib==1.21.0
zipp==0.6.0
zope.interface==4.6.0
