-i https://pypi.org/simple/
amqp==2.6.1
attrs==20.3.0
automat==20.2.0
billiard==3.6.3.0
celery==4.3.0
cffi==1.14.5
constantly==15.1.0
cryptography==3.4.6
cssselect==1.1.0
django==2.2.18
hyperlink==21.0.0
idna==3.1
importlib-metadata==3.7.3 ; python_version < '3.8'
incremental==21.3.0
kombu==4.6.11
lxml==4.6.2 ; python_version != '3.4'
parsel==1.6.0
psycopg2==2.8.3
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pydispatcher==2.0.5
pyopenssl==20.0.1
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2021.1
queuelib==1.5.0
redis==3.3.8
scrapy==1.7.3
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
twisted==21.2.0 ; python_version != '3.4'
typing-extensions==3.7.4.3 ; python_version < '3.8'
vine==1.3.0
w3lib==1.22.0
zipp==3.4.1
zope.interface==5.2.0
