{% extends 'base.html' %}

{% block page_title %}Contact{% endblock %}

{% block page_headline %}Contact{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-4">
    <p>DVO Alerts would love to hear from you. Whether it's a question, a complaint, a suggestion, or anything you'd like to talk about, just reach out to DVO Alerts, and we'll get in touch right away.</p>
    <ul>
      <li><strong>Email:</strong> admin@dvoalerts.me or notifications@dvoalerts.me</li>
      <li><strong>Facebook:</strong> TBA</li>
      <li><strong>Twitter</strong> TBA</li>
    </ul>
  </div>
</div>
{% endblock %}