{% extends 'base.html' %}

{% block page_title %}{{ block.super }}Privacy Notice{% endblock %}

{% block page_content %}
<div class="row">
  <h1>Privacy Notice</h1>
  <div class="col-md-4">
    <!-- Intro -->
    <p>DVO Alerts ("We", "Our", "Us") is the owner and operator of www.dvoalerts.com ("Site"). DVO Alerts is committed to upholding your privacy and security. This Privacy Policy ("Policy") explains how We collect, use, and disclose your information and data.</p>
    <p>The Policy is only applicable to our Site and our Services (as defined under the Terms of Use) and not to any other website, service or online platform. BY ACCESSING THE SITE OR UTILIZING ANY OF OUR SERVICES AND/OR REGISTERING WITH US, YOU SIGNIFY THAT YOU HAVE READ, UNDERSTOOD AND AGREE TO BE BOUND BY THIS POLICY, INCLUDING OUR TERMS OF USE, AS APPLICABLE, WHICH ARE INCORPORATED HEREIN BY REFERENCE.</p>

    <!-- Information we collect -->
    <h3>Information We Collect</h3>
    <p>DVO Alerts collects different types of information including Personal Data when you use the Site or register for our Services. However, We do not collect or store sensitive information such as your credit/debit card numbers, bank account details, financial/employment information, social security numbers, medical/health information, or other related Personal Data. We also do not track your browsing or navigation activities outside of the Site or beyond the scope of our Services.</p>

    <h4>Personal Information</h4>
    <p>Personal Information ("Personal Information" or "Personal Data") refers to any information you voluntarily submit that identifies you personally. When accessing or using our Site, we collect Personal Information from you that includes your IP address, geographical location, browser type, referral source, length of visit and pages viewed.</p>
    <p>When registering for our Services, we require you to provide a valid email address. When you use our Services, we may also collect data about your response and activity with respect to the email notifications we send you, such as email opens, clicks, spam complaints, bounces, and other related metrics.</p>

    <h4>Other Information</h4>
    <p>Other Information ("Other Information") refers to information that does not and cannot be used to reveal your identity or that of another individual, such as information which has been fully and permanently anonymized and aggregated. We use this information to facilitate our operation of the Site and for other purposes described in this Policy.</p>
    <p>For the purposes of this Policy, "Personal Information" and "Other Information" will be collectively referred to as "Information" or "Data", unless otherwise indicated.</p>

    <!-- How we collect information -->
    <h3>How We Collect Your Information</h3>
    <p>DVO Alerts obtains Information through different means including:</p>
    <ul>
      <li>
        <strong>Through the Site:</strong>  We collect your information when you access the Site, during the signup process for our Services, and when you voluntarily submit information through forms on the Site.
      </li>
      <li>
        <strong>Your use of our Services:</strong> Once you become a DVO Alerts subscriber, we monitor how you engage with the notifications we send you. This includes keeping track of email delivery, inbox placement, opens, clicks, replies, spam complaints, unsubscribes, and bounces.
      </li>
      <li>
        <strong>When you contact us:</strong> We may ask you to provide specific Personal Data in order for us to properly address an inquiry or request from you.
      </li>
      <li>
        <strong>From your browser or device:</strong> Most browsers and devices collect certain information such as your Media Access Control (MAC) address, computer type (Windows or Macintosh), screen resolution, operating system name and version, device manufacturer and model, language, Internet browser type and version. Your “IP Address” is a number that is automatically assigned to the computer that you are using by your Internet Service Provider (ISP). An IP Address may be identified and logged automatically in our server log files whenever you access the Site, along with the time of the visit and the page(s) that you visited. Collecting IP Addresses is standard practice and is done automatically by many websites, applications and other services. DVO Alerts uses IP Addresses to calculate usage levels of the Site, help diagnose problems with its servers, administer the Site, and for monitoring the regions from which you navigate to DVO Alerts's Site.
      </li>
      <li>
        <strong>By aggregating information:</strong>  Aggregated Personal Information does not personally identify you or any other user of the Site (for example, we may aggregate Personal Data to calculate the percentage of our users who belong to a particular email domain).
      </li>
    </ul>

    <!-- How we use your data -->
    <h3>How We Use Your Personal Information</h3>
    <p>DVO Alerts uses your Personal Information in the following manner:</p>
    <ul>
      <li>To render our Services as defined under our Terms of Use</li>
      <li>To respond to your inquiries and fulfill your requests</li>
      <li>To send you administrative information, such as relational and transactional messages, as well as to notify you regarding changes in our Terms of Use or Privacy Policy.</li>
      <li>To improve your experience on the Site and to make sure our Services suit your needs</li>
    </ul>

    <!-- How we share personal data -->
    <h3>How We Share Your Personal Information</h3>
    <p>DVO Alerts does not sell your Personal Information to advertisers or share it with other third parties, except as described below:</p>
    <ul>
      <li>We may share your Personal Data with third-party agents and service providers in order to deliver, improve, protect, and promote our Services, or to otherwise communicate with you. These third-party agents may include DVO Alerts's providers for hosting, storage, compute  resources, security, analytics, and communications.</li>
      <li>We may disclose your Personal Information to third parties if we determine such disclosure is reasonably necessary to: (a) comply with applicable law, regulation, legal process, or government request, (b) protect any person from death or serious bodily injury, (c) prevent fraud, abuse, or security issue of DVO Alerts or other users, and (d) to protect DVO Alerts's or its licensors' rights, property, safety, or interest.</li>
      <li>We may also disclose or share your Personal Data with your consent.</li>
    </ul>
    <p>We take active steps to ensure that these third parties offer at least the same level of data protection as that set out in this Policy.</p>

    <!-- How we share other information -->
    <h3>How We Share Other Information</h3>
    <p>We use and disclose Other Information for any purpose, except where we are required to do otherwise under applicable law. If we are required to treat Other Information as Personal Data under applicable law, then we would use or disclose it in the same way that we use and disclose Personal Data.</p>

    <!-- How we protect and secure -->
    <h3>How We Safeguard Your Information</h3>
    <p>DVO Alerts uses reasonable physical, technological, and administrative security measures to protect your Information. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, while we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>

    <!-- How you can access -->
    <h3>How You Can Access, Change, or Remove Your Information</h3>
    <p>You may access, review, correct, amend, restrict, delete, opt-out of, or object to our use of the Personal Information you provided to DVO Alerts by contacting us at dvoalerts.mail@gmail.com .</p>
    <p>We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.</p>

    <!-- Links to other sites -->
    <h3>Links to Other Websites</h3>
    <p>Our Site may contain links to third-party websites or services.  When you click on a link to any other website or location, or when you provide a third-party with access to your Information, such third-party may then collect or access data from you.  The use of such Information, including Personal Data, by the third-party website or service will be governed by the third-party's own privacy policy. We have no control over, do not review, and cannot be responsible for, these third-party websites or services. We encourage you to read the privacy policies of every website you visit and every third-party service you use.</p>

    <!-- Children information -->
    <h3>Children's Use of This Site</h3>
    <p>The Site is not intended for minors under the age of 18. DVO Alerts does not knowingly or specifically collect information about minors under the age of 18 and believes that children of any age should get their parents' or legal guardians' consent before providing any Personal Data. If you believe that we have mistakenly or unintentionally collected such information, please notify us at dvoalerts.mail@gmail.com so that we can delete the information from our servers.</p>

    <!-- Changes -->
    <h3>Changes to this Policy</h3>
    <p>DVO Alerts may amend this Privacy Notice from time to time. The "Last Updated" legend at the top of this page indicates when this Privacy Policy was last revised. Any changes to this Privacy Policy will become effective when we post the revised Privacy Policy on the Site. We will, however, notify you of any modifications to this Policy at least thirty (30) days prior to the changes taking effect.</p>

    <!-- Contact Us -->
    <h3>Contact Information</h3>
    <p>If you have questions or concerns about this Policy, you may contact us through email at dvoalerts.mail@gmail.com or via regular mail:</p>
    <p>29 Lizada St.,<br>Davao City, Philippines 8000</p>
  </div>
</div>
{% endblock %}