{% extends 'base.html' %}

{% block page_title %}Confirm your email address{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-6">
    <h1>Confirm your email</h1>
    <p>We need to make sure you own the email address you submitted. Please click the link in the email we sent you.</p>
    <p>Didn't get the confirmation email? Try the following:</p>
    <ul>
      <li>Refresh your email inbox</li>
      <li>Check your spam or junk folder</li>
      <li>Make sure you entered the correct email address</li>
      <li>Contact DC Alerts for support <a href="#">here</a></li>
    </ul>
  </div>
</div>
{% endblock %}