{% extends 'base.html' %}

{% block page_title %}Confirm your email address{% endblock %}

{% block page_headline %}Confirm your email{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-4">
    <p>We need to make sure you own the email address: <strong>{{ new_user_email }}</strong>. Please click the link in the email we sent you to verify your email address.</p>
    <p>Didn't get the confirmation email? Try the following:</p>
    <ul>
      <li>Refresh your email inbox</li>
      <li>Check your spam or junk folder</li>
      <li>Make sure you entered the correct email address</li>
      <li>Contact DVO Alerts for support <a href="#">here</a></li>
    </ul>
  </div>
</div>
{% endblock %}