{% extends 'base.html' %}

{% block page_title %}Unsubscribe from our mailing list{% endblock %}

{% block page_headline %}Unsubscribe from our mailing list{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-4">
    <p>To stop receiving email notifications from DVO Alerts, please enter your email address below. We'll send you an unsubscribe link via email.</p>
    <form action="" method="post">
      {% csrf_token %}
      {% include 'email_input_form.html' %}
      <input class="btn btn-primary" type="submit" value="Get unsubscribe link">
    </form>
  </div>
</div>
{% endblock %}