{% extends 'base.html' %}

{% block page_title %}Unsubscribe from our mailing list{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-6">
    <h1>Unsubscribe from our mailing list</h1>
    <p>To stop receiving email notifications from DC Alerts, please enter your email address below. We'll send you an unsubscribe link via email.</p>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.email }}
      {% if form.errors %}
      <div class="form-group has-error">
        <span class="help-block">{{ form.email.errors }}</span>
      </div>
      {% endif %}
      <p><input type="submit" value="Get unsubscribe link"></p>
    </form>
  </div>
</div>
{% endblock %}