{% extends 'base_email.html' %}
{% block message_title %}Test email{% endblock %}

{% block message_body_opening %}Hi,{% endblock %}

{% block message_body_intro %}
This is only a test HTML email sent to {{ recipient.email }}. Thanks.
{% endblock %}

{% if additional_stuff %}
{% block message_body_additional %}
{% for item in additional_stuff %}
<tr>
  <td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
    <strong>{{ item }}</strong>
  </td>
</tr>
{% endfor %}
{% endblock %}
{% endif %}